*.idea*
.pyc
__pycache__
.ipynb_checkpoints
*.pytest_cache/
*.db
notebooks/Recommendations_with_IBM_original.ipynb
ibmrecommenderapp/templates/keep.html
README.md
INSTRUCTIONS.md
setup.py
!/favicons/
favicons
docs