{% extends 'index.html' %}

{% block recommendations %}

<!--<div class="container">-->

<!--    <h4 class="text-center">Recommendations for User Id {{inputUserId}}</h4>-->

<!--    <div class="row">-->

<!--        <div class="mt-2 col-md-6 mx-auto text-centre">-->
<!--            <div class="input-group">-->
<!--                <span class="input-group-append">-->
<!--                <button class="btn btn-secondary" type="submit">-->
<!--                    <i class="bi bi-search"></i>-->
<!--                </button>-->
<!--                </span>-->
<!--                <input class="form-control" type="search" placeholder="Search for documents" id="example-search-input">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--<form style="width: 50%; margin: 0 auto; text-align: center;" action="/recommender" method="POST">-->
<div class="row mt-2 align-items-center">
    <div class="col-3"></div>
    <!--    <div class="col-3">-->
    <!--        <h4>Recommendations for User Id {{inputUserId}}</h4>-->
    <!--    </div>-->
    <!--    <div class="col-1">-->
    <!--    </div>-->
    <div class="col-5">
        <form action="/recommender" method="POST">
            <div class="input-group center">

                <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
                </span>
                <input class="form-control"
                       type="search"
                       placeholder="Search for documents"
                       id="search_input"
                       name="search_input">

                <input class="form-control"
                       type="hidden"
                       name="inputUserId"
                       value={{inputUserId}}
                       id="inputUserId">
            </div>
        </form>
    </div>
</div>



<!--recommendation comment to see if collaborative,
ranked or content was triggered-->
<p class="text-center mt-4 mb-3">{{recommender_comment}}</p>

<!--    recommendation cards-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

            {% for article in articles.values() %}

            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <h5 class="card-header">
                        {{article['doc_full_name']}}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{article['doc_description'][:200]}}.</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <form action="/view" method="POST">
                                <button type="submit"
                                        class="btn_add btn-sm btn-outline-secondary"
                                        name="view_button"
                                        value={{article['article_id']}}>View</button>
                            </form>
                            <small class="text-body-secondary">{{article['num_interactions']}} interactions</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<!--footer section-->
<footer>
        <script type="text/javascript">
            var articles = {{articles | safe}};
            var inputUserId = {{inputUserId}};
            var recommender_comment = {{recommendation_comment | safe}};
            var nav_texts = {{nav_texts | safe}};
        </script>
</footer>

{% endblock %}
